@media (max-width: 1440px) {
    .containerContact {
        background: transparent;
    }
}

@media (max-width: 1024px) {
    .containerContact {
        padding: 9rem 3rem 0;

        .infoContact {
            max-width: 75rem;
            margin: 0 auto;
        }
        .infoSocial {
            max-width: 75rem;
            margin: 4rem auto 0;
        }
    }
}

@media (max-width: 768px) {
    .containerContact {

        .infoContact {

            .descriptionContact {

                h1 {
                    font-size: 7vw;
                    width: 65vw;
                }
                p {
                    font-size: 4vw;
                }
            }

            .formsMessage {

                .containerInputs,
                .containerInputs:nth-of-type(1),
                .containerInputs:nth-of-type(2) {
                    width: 100%;

                    input, textarea {
                        font-size: 3.2vw;
                    }
                }

                .containerBtnSubmit {

                    .btnSubmit {
                        font-size: 4vw;
                        width: 22vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 470px) {
    .containerContact {
        padding: 9rem 1.5rem 0;

        .infoSocial {
            display: flex;
            max-width: 100%;
            width: 100%;
            align-items: center;
            flex-direction: column;

            article {

                h2 {
                    font-size: 4vw;
                    font-weight: normal;
                }
            }
        }
    }
}