* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}
html {
    font-size: 62.5% !important;
}

body {
    font-family: var(--font-inter), sans-serif !important;
    background-color: #001b24;
    color: #ffffff;
    display: block;
    min-width: 320px;
    padding-left: 13rem;

    @media (max-width: 1024px) {
        padding-left: 0;
    }
}

a {
    text-decoration: none;
}